<!-- <information-badge></information-badge> -->
<!-- <customer-details></customer-details> -->
<!-- <edit-details> </edit-details> -->
<!-- <add-customer></add-customer> -->
<div class="grid-container">
    <div class="grid-information-part">
        <div id = "top-add-info"><span class="header-employ"> List of employess </span> <a href="#"> <i class="fa fas fa-plus" id ="plus-icon"></i> </a> </div> 
        <information-badge  [customers] = "customers" (bannerClicked)="OnbannerClicked($event)"> </information-badge>
    </div>
    <div class="grid-details-part">
      <customer-details [hide]= "hide" ></customer-details>
    </div>
</div>