#notice-container {
    text-align: center;
}

#select-notice {
    opacity: 50%;
}

#customer-details {
    text-align: center;
    margin-bottom: 5%;
}

#top-details
{
    margin-top: 5%
}

#edit-delete-icons {
    padding-top: 2%;
    padding-bottom: 20px;
    padding-left: 40%;
    font-size: 25px;
}

#edit-icon {
    padding-right: 3%;
    color: greenyellow;
}
#edit-icon:hover{
    cursor: pointer;
}

.details-images {
    border-style: solid;
    border-color: greenyellow;
    border-radius: 50%;
    height: 100px;
    margin-top: 2%;
}

.details-images:hover {
    opacity: 50%;
    cursor: pointer;
}

#fullname-details {
    color: green;
    margin: 1%;
}

#position-details {
    opacity: 75%;
    margin: 1%;
}

#heading-details {
    padding:1%;
    margin-bottom: -1%;
}

#sub-heading-details {
    margin: 1%;
    opacity: 75%;
}
