<div class = "details">
    <div id="notice-container" *ngIf = "!hide">
        <h1 id="select-notice"> Please select a customer to view details</h1>
    </div>

    <div id="customer-details" *ngIf = "hide">
        <div id="top-details">
            <div id="edit-delete-icons"><span><i class="fa fas fa-edit" id ="edit-icon"></i></span><span> <i class="fa fas fa-trash" id = "edit-icon"></i> </span></div>
            <img src = "{{imageSrc}}" class="details-images">
            <h1 id="fullname-details"> {{fullname}} </h1> 
            <h2 id="position-details"> {{position}} </h2>
            <h3 id="heading-details">Country</h3>
            <h3 id="sub-heading-details">{{country}}</h3>
            <h3 id="heading-details">Activity</h3>
            <h3 id="sub-heading-details">{{activity}}</h3>
        </div> 
    </div>
</div>
