/* You can add global styles to this file, and also import other style files */
.banner-image {
    height: 50px;
    border-radius: 50%;
    float: left;
}

#banner-line-one {
    font-weight: 800;
    margin-left: 7%;
    width: 40%;
}

#banner-line-two {
    margin-left: 7%;
}

#trash-icon {
    float: right;    
    opacity: 70%;
}   

#select-notice {
    opacity: 50%;
}

#notice-container {
    text-align: center;
}

.details-images {
    border-style: solid;
    border-color: coral;
    border-radius: 50%;
    height: 100px;
}

#customer-details {
    text-align: center;
}

#fullname-details {
    color: green;
    margin: 1%;
}

#position-details {
    opacity: 75%;
    margin: 1%;
}

#sub-heading-details {
    margin:-2%;
    opacity: 75%;
}

#heading-details {
    padding:1%;
}