/* You can add global styles to this file, and also import other style files */
.banner-image {
    height: 50px;
    border-radius: 50%;
    float: left;
}
.banner {
    vertical-align: center
    ;
}

#banner-line-one {
    font-size: 25px;
    font-weight: 800;
    margin-left: 7%;
    width: 40%;
}

#banner-line-two {
    margin-left: 7%;
    margin-top: -2%;
}

#trash-icon {
    float: right;    
    opacity: 70%;
    color: greenyellow;
}   

#select-notice {
    opacity: 50%;
}

#notice-container {
    text-align: center;
}

.details-images {
    border-style: solid;
    border-color: coral;
    border-radius: 50%;
    height: 100px;
}

.details-images:hover {
    opacity: 50%;
    cursor: pointer;
}

#customer-details {
    text-align: center;
}

#fullname-details {
    color: green;
    margin: 1%;
}

#position-details {
    opacity: 75%;
    margin: 1%;
}

#sub-heading-details {
    margin:-2%;
    opacity: 75%;
}

#heading-details {
    padding:1%;
    margin-bottom: -1%;
}

#edit-delete-icons {
    padding-bottom: 20px;
    padding-left: 40%;
    font-size: 25px;
}

#edit-icon {
    padding-right: 10px;
    color: greenyellow;
}

#fullname-details-input {
    margin-top: 2%;
}

#country-details-input {
    margin-top: 1%;
}